<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.benjious.pdacontrol">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity"
            >



        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="主界面"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ProductReadyActivity"
            android:label="入库准备界面">
        </activity>

        <activity
            android:name=".activity.ProductsAddActivity"
            android:label="物料入库添加界面"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.ProductsInActivity"
            android:label="物料入库提交界面">
        </activity>

        <activity
            android:name=".activity.InventoryActivity"
            android:label="盘点确认界面">
        </activity>

        <activity android:name=".activity.TestActivity">

        </activity>
        <activity
            android:name=".activity.ProductConfigActivity"
            android:label="捡料确认界面"
            >
        </activity>
        <activity
            android:name=".activity.PalletEmptyInActivity"
            android:label="空托入库界面">


        </activity>

        <activity
            android:name=".activity.NetworkActivity"
            android:label="网络设置界面">
        </activity>
        <activity
            android:name=".activity.SortPortActivity"
            android:label="码垛入库界面">



        </activity>

    </application>

</manifest>